.vscode/*
!.vscode/settings.json
corpus
test_corpus
results
*.gcda
*.gcno
a.out
ast.json
coverage.css
coverage.functions.html
coverage.grug.c.*.html
coverage.html
coverage.run.c.*.html
crash-*
experiments.o
fuzz.dll
grug.o
output.map
pvs.json
pvs.log
strace_out
tests.out
